.faq__container {
  padding-top: 51px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }
  @media (min-width: $desktop-width) {
    padding: 71px 206px;
  }
}

.faq__title {
  text-align: center;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.faq__questions-list {
  display: grid;
  gap: 10px;

  @include list-default;
}
