.form-item {
  display: grid;
  gap: 12px;

  &--modal {
    gap: 8px;
  }

  @media (min-width: $tablet-width) {
    &--modal {
      gap: 12px;
    }
  }
}

.form-item__name {
  margin: 0;
  opacity: 0.8;
  // &--name &--phone &--comment &--hidden &--city
  @include font-set(12px, 14px, 400);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.form-item__checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;

  @include font-set(12px, 14px, 400);

  @media (min-width: $tablet-width) {
    line-height: 12px;
  }
}

.form-item__inp {
  padding: 16px 25px;
  color: $base-white;
  background-color: transparent;
  border: 1px solid $base-white-03;
  border-radius: 8px;

  @include font-set(12px, 12px, 400);

  &--modal {
    color: $base-black;
    padding-top: 13px;
    padding-bottom: 13px;
    border-color: $base-black-03;
  }

  &--hidden {
    display: none;
  }

  &--comment {
    min-height: 94px;
    resize: none;
  }

  &--city {
    padding: 0;
  }


  @media (min-width: $tablet-width) {
    &--modal {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &--city {
      padding: 0;
    }

    &--comment {
      min-height: 88px;
    }
  }

  &:hover {
    border-color: $base-white;
  }

  &:focus-visible,
  &:active {
    border-color: $base-white;
    outline: none;
  }

  &:disabled {
    background-color: $base-white-03;
    border-color: $base-white;
    opacity: 0.4;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: $error-color;
    background-color: $error-color-02;
  }
}

.form-item__mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid $base-white;
  background-color: $base-white;

  &--modal {
    background-color: $base-accent;
  }
}

.form-item__inp[type="checkbox"]:checked+.form-item__mark {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    background-color: $base-accent;
    mask-image: url("/__spritemap#sprite-check-view");
    mask-size: 10px 10px;
  }

  &--modal::after {
    background-color: $base-white;
  }
}

.form-item__inp[type="checkbox"] {

  &:invalid+.form-item__mark {
    border-color: $error-color;
    background-color: $error-color-02;
  }

  &:hover+.form-item__mark,
  &:focus-visible+.form-item__mark {
    background-color: $base-accent;
    border-color: $base-white;
  }

  &:disabled+.form-item__mark {
    border-color: $base-white;
    background-color: $base-white-07;
  }
}

.form-item__inp[type="checkbox"]:checked {

  &:hover+.form-item__mark,
  &:focus-visible+.form-item__mark {
    background-color: $base-accent;
    border-color: $base-white;
  }

  &:hover+.form-item__mark::after,
  &:focus-visible+.form-item__mark::after {
    background-color: $base-white;
  }

  &:disabled+.form-item__mark {
    border-color: $base-white;
    background-color: $base-white-07;
  }

  &:disabled+.form-item__mark::after {
    background-color: $base-white;
  }
}

.form-item__descr {
  opacity: 0.9;
}
