.form__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include list-default;

  &--modal {
    gap: 15px;
  }

  @media (min-width: $tablet-width) {
    &--modal {
      gap: 20px;
    }
  }
}

.form__submit {
  min-width: 260px;
  margin-top: 20px;

  &--modal {
    margin-top: 25px;
  }

  @media (min-width: $tablet-width) {
    min-width: 352px;
    margin-top: 40px;

    &--modal {
      min-width: 194px;
      margin: 30px auto 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}

.form__submit span:first-child {
  margin: 0 auto;
}
