// .form-block {}
// .form-block__container {}
// .form-block__pic-wrapper {}
// .form-block__content {}
.form-block__title {
  @include font-set(18px, 22px, 400);

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
  }
}
// .form-block__intro {}
// .form-block__form {}
