.form__list {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @include list-default;

  &--modal {
    gap: 15px;
  }

  @media (min-width: $tablet-width) {
      gap: 20px;
  }
}

.form__item:last-child {
  margin-top: -3px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }
}

.form__item:nth-last-child(2) {
  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}

.form__submit {
  min-width: 260px;
  margin-top: 20px;

  &--modal {
    margin-top: 25px;
  }

  @media (min-width: $tablet-width) {
    min-width: 352px;
    margin-top: 44px;

    &--modal {
      min-width: 194px;
      margin: 30px auto 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}

.form__submit span:first-child {
  margin: 0 auto;
  color: $base-white;
}

.form__submit--modal span:first-child {
  color: $base-accent;
}
