.page-header__container {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }
}
