.primary-button {
  display: flex;
  align-items: center;
  width: min-content;
  padding: 0;
  text-transform: uppercase;
  border: 1px solid $base-accent;
  border-radius: 28px;
  background-color: transparent;
  color: $base-accent;
  cursor: pointer;

  @include font-set(12px, 12px, 500);
  @include link-default;

  &:hover {
    color: $base-white;
    background-color: $base-accent;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    color: $base-white-07;
    background-color: $base-accent;
  }

  &:disabled,
  &--disabled {
    border-color: $disabled-color;
    color: $disabled-color;
  }

  &:hover .primary-button__name {
    color: $base-white;
  }

  &:active .primary-button__name {
    color: $base-white-07;
  }

  &:disabled .primary-button__name,
  &--disabled .primary-button__name {
    color: $disabled-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.primary-button__name {
  width: max-content;
  padding: 15px 21px 15px 20px;
  color: $base-accent;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.3px;
    padding: 20px 30px;
  }
}

.primary-button__icon {
  position: relative;
  display: block;
  width: 34px;
  height: 34px;
  margin: 4px 5px 4px 0;
  border-radius: 17px;
  background-color: $base-accent;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: $base-white;
    mask-size: 10px 10px;
    mask-image: url("/__spritemap#sprite-arrow-view");
  }

  @media (min-width: $tablet-width) {
    width: 46px;
    height: 46px;
    border-radius: 23px;
  }
}

.primary-button--dark .primary-button__icon {
  background-color: $base-white;

  &::after {
    background-color: $base-accent;
  }
}

.primary-button:hover .primary-button__icon {
  background-color: $base-white;

  &::after {
    background-color: $base-accent;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.primary-button:focus-visible .primary-button__icon {
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.primary-button:active .primary-button__icon {
  background-color: $base-white;

  &::after {
    background-color: $base-accent-07;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.primary-button:disabled .primary-button__icon,
.primary-button--disabled .primary-button__icon {
  background-color: $disabled-color;

  &::after {
    background-color: $base-accent-07;
  }
}

.primary-button--dark {
  color: $base-white;
  border-color: $base-white;

  &:hover {
    background-color: $base-white;
    border-color: $base-white;
  }

  &:hover .primary-button__name {
    color: $base-accent;
  }

  &:hover .primary-button__icon {
    background-color: $base-accent;
  }

  &:hover .primary-button__icon::after {
    background-color: $base-white;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:focus-visible .primary-button__icon::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:active {
    background-color: $base-white;
    border-color: $base-white;
  }

  &:active .primary-button__name {
    color: $base-accent-07;
  }

  &:active .primary-button__icon {
    background-color: $base-accent;
  }

  &:active .primary-button__icon::after {
    background-color: $base-white-07;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:disabled .primary-button__name {
    color: $disabled-color;
  }

  &:disabled {
    border-color: $disabled-color;
  }
}

.primary-button--dark.primary-button--disabled {
  border-color: $disabled-color;
}

.primary-button--dark.primary-button--disabled .primary-button__name {
  color: $disabled-color;
}
