.promo-slide {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.promo-slide__container {
  display: grid;
}

.promo-slide__pic-wrapper {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin-left: calc($mobile-padds * -1);
  margin-right: calc($mobile-padds * -1);

  @media (min-width: $tablet-width) {
    margin-left: calc($tablet-padds * -1);
    margin-right: calc($tablet-padds * -1);
  }

  @media (min-width: $desktop-width) {
    margin-left: calc($desktop-padds * -1);
    margin-right: calc($desktop-padds * -1);
  }
}

.promo-slide__content {
  position: relative;
  z-index: 1;
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: end;
  margin-bottom: 20px;

  @include font-set(16px, 20px, 400);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 355px 1fr;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 526px 1fr;
    line-height: 26px;
  }
}

.promo-slide__false-pagination {
  position: absolute;
  top: -28px;
  display: flex;
  gap: 12px;
  height: 28px;
  padding: 10px 16px;
  background-color: $base-white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -11px;
    display: block;
    width: 15px;
    height: 20px;
    border-bottom: 4px solid $base-white;
    border-left: 4px solid $base-white;
    border-bottom-left-radius: 13px;
  }

  @media (min-width: $tablet-width) {
    height: 40px;
    padding: 14px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &::before {
      right: -17px;
      bottom: -10px;
      width: 27px;
      height: 27px;
      border-bottom-width: 10px;
      border-left-width: 10px;
      border-bottom-left-radius: 27px;
    }
  }
}

.promo-slide__false-bullet {
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid $dark-accent;
  border-radius: 4px;

  &--is-active {
    background-color: $dark-accent;
  }

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 12px;
    border-radius: 6px;
  }
}

.promo-slide__title {
  padding: 20px 15px 16px 14px;
  margin: 0;
  color: $base-accent;
  background-color: $base-white;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;

  @include font-set(22px, 26px, 400);

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    padding: 31px 40px 23px;
    margin-right: 19px;
    font-size: 36px;
    line-height: 44px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 50px 30px;
    margin-right: 272px;
    font-size: 54px;
    line-height: 62px;
  }
}

.promo-slide__content p {
  position: relative;
  width: 267px;
  padding: 0 14px 15px;
  margin: 0;
  background-color: $base-white;
  border-bottom-right-radius: 14px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -11px;
    display: block;
    width: 15px;
    height: 20px;
    border-top: 4px solid $base-white;
    border-left: 4px solid $base-white;
    border-top-left-radius: 13px;
  }

  @media (min-width: $tablet-width) {
    width: 355px;
    padding: 0 60px 35px 40px;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: 30px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 526px;
    padding: 0 56px 35px 50px;
  }
}

.promo-slide__link-wrapper {
  position: relative;
  width: min-content;
  padding: 10px 15px;
  background-color: $base-white;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -11px;
    display: block;
    width: 15px;
    height: 20px;
    border-top: 4px solid $base-white;
    border-left: 4px solid $base-white;
    border-top-left-radius: 13px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 39px 0 0;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: 30px;

    &::before {
      right: -30px;
      top: -10px;
      width: 40px;
      height: 40px;
      border-top-width: 10px;
      border-left-width: 10px;
      border-top-left-radius: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 11px;
    padding-right: 50px;
  }
}
