.secondary-button {
  cursor: pointer;

  &:hover .secondary-button__icon {
    background-color: $base-white;
  }

  &:hover .secondary-button__icon::after {
    background-color: $base-accent;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:focus-visible .secondary-button__icon {
    background-color: $base-accent;
  }

  &:focus-visible .secondary-button__icon::after {
    background-color: $base-white;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:active .secondary-button__icon {
    background-color: $base-white;
  }

  &:active .secondary-button__icon::after {
    background-color: $base-accent-07;
  }

  &:disabled .secondary-button__icon,
  &--disabled .secondary-button__icon {
    background-color: $disabled-color;
  }

  &:disabled .secondary-button__icon::after,
  &--disabled .secondary-button__icon::after {
    color: $base-white-07;
  }
}

.secondary-button__icon {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 17px;
  background-color: $base-accent;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: $base-white;
    mask-size: 10px 10px;
    mask-image: url("/__spritemap#sprite-arrow-view");
  }
}
