.slider-controls {
  display: grid;
  grid-template-columns: 22px 22px;
  gap: 8px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 22px 22px;
    gap: 10px;
    align-items: center;
  }
}

.slider-controls__pagination {
  display: none;

  &--numbers {
    display: flex;
    justify-content: center;
    gap: 16px;
    justify-self: center;
  }

  @media (min-width: $tablet-width) {
    &--scroll {
      display: block;
      width: 562px;
      height: 1px;
      background-color: $base-accent-02;
    }

    &--numders {
      gap: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &--scroll {
      width: 1136px;
    }
  }
}

.slider-controls__pagination-fill {
  display: block;
  width: 562px;
  height: 1px;
  background-color: $base-accent;
  transform-origin: 0 0;

  @media (min-width: $desktop-width) {
    width: 1136px;
  }
}

.slider-controls__count-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  color: $base-accent;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 13px;
  background-color: transparent;
  cursor: pointer;

  @include font-set(14px, 14px, 500);

  &--active {
    color: $base-white;
    background-color: $dark-accent;
    border-color: $dark-accent;
  }

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 32px;
    border-radius: 16px;

    @include font-set(16px, 20px, 400);
  }

  &:hover {
    color: $base-accent;
    background-color: transparent;
    border-color: $base-accent;
  }

  &:focus-visible {
    color: $base-accent;
    background-color: $base-white;
    border-color: $base-accent;
  }

  &:active {
    color: $base-white;
    background-color: $dark-accent;
    border-color: $dark-accent;
  }

  &:disabled,
  &--disabled {
    color: $base-accent;
    background-color: transparent;
    border-color: transparent;
    opacity: 0.5;
  }
}

.slider-controls__button {
  z-index: 10;
  position: relative;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border-radius: 11px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 10px;
    height: 10px;
    mask-image: url("/__spritemap#sprite-slider-arrow-view");
    mask-size: 10px 10px;
    background-color: $base-accent;
  }

  &--next::after {
    transform: translate(-50%, -50%);
  }

  &--prev::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &:hover::after {
    background-color: $base-accent-07;
  }

  &:focus-visible {
    background-color: $base-white;
  }

  &:focus-visible::after {
    background-color: $base-accent;
  }

  &:active {
    background-color: $base-white;
  }

  &:active::after {
    background-color: $base-accent-07;
  }

  &:disabled::after,
  &--disabled::after {
    background-color: $disabled-color;
  }
}
