.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include list-default;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  color: $base-white;
  background-color: $base-accent;
  border-radius: 13px;

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }

  &:hover {
    // background-color: $base-light;
    // color: $base-dark;
    // border-color: $base-dark;
    // outline: none;
  }

  &:focus {
    // outline: none;
  }

  &:focus-visible {
    // background-color: $base-light;
    // color: $base-dark;
    // border-color: $base-light;
    // outline: none;
  }

  &:active {
    // background-color: $base-accent;
    // color: $base-light;
    // border-color: $base-accent;
    // outline: none;
  }

  &:disabled,
  &--disabled {
    // background-color: $base-light;
    // color: $base-disabled;
    // border-color: $base-disabled;
    // outline: none;
  }
}

.socials__link svg {
  @media (min-width: $tablet-width) {
    width: 16px;
    height: 16px;
  }
}
