.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include list-default;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  color: $base-white;
  background-color: $base-accent;
  border-radius: 13px;

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }

  &:hover {
    background-color: $base-accent;
    color: $base-white-07;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $base-white;
    color: $base-accent;
    outline: none;
  }

  &:active {
    background-color: $dark-accent;
    color: $base-white;
    outline: none;
  }

  &:disabled,
  &--disabled {
    background-color: $disabled-color;
    color: $base-white;
    outline: none;
  }
}

.socials__link svg {
  @media (min-width: $tablet-width) {
    width: 16px;
    height: 16px;
  }
}
