// .stat-item {}
.stat-item p {
  @include font-set(14px, 20px, 400);


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.stat-item strong {
  @include font-set(16px, 20px, 400);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 30px;
  }
}
