*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  grid-template-rows: auto 1fr auto;

  color: $base-black;
  font-family: $primary-font;

  background-color: $base-color;

  @include font-set(14px, 20px, 400);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
