// VIEWPORTS
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// PADDING
$mobile-padds: 15px;
$tablet-padds: 45px;
$desktop-padds: 100px;

// FONTS
$primary-font: "Manrope", "Arial", sans-serif;

// COLORS
$base-color: #f0efe9;
$base-black: #484848;
$base-white: #ffffff;
$base-white-03: rgba(255, 255, 255, 0.3);
$base-white-07: rgba(255, 255, 255, 0.7);
$base-black-03: rgba(72, 72, 72, 0.3);
$base-accent: #316dc2;
$base-accent-07: rgba(49, 109, 194, 0.7);
$base-accent-02: rgba(49, 109, 194, 0.2);
$dark-accent: #275699;
$error-color: #ff5e66;
$disabled-color: #a9afb7;
$overlay-light: rgba(49, 109, 194, 0.2);
$overlay-dark: rgba(13, 29, 51, 0.4);

